.content {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.image {
    display: inline-block;
    margin: 5px;    
}

img {
    width: 200px;
    height: 180px;
}

.parent {
    display: inline-flex;    
}

.reviews {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;    
}

.user-rating {
    justify-items: center;
    align-items: center;
}

.review {
    margin-left: 1%;
    margin-right: 1%;
    background-color: lightskyblue;
    border: 1px black;
    display: inline;    
}

.title {
    width: 30%;
    position:relative;
    background-color: white;
    display: flexbox;
    border-spacing: 1%;
    padding:5px;
}

.hidden {
    display: none;
}

.pagination {
    padding: 10px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.location {
    background-color: lightblue;
    border: 1px solid black;
    margin-top: 5px;
}

.rating {
    right:5%;
    position:absolute;
    justify-items: right;
    align-items: right;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
}

.button {
    border-spacing: 5px;
    padding: 15px;
    flex: box;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #0099FF;
}

.active {
    border-spacing: 5px;
    padding: 15px;
    flex: box;
    cursor: pointer;
    background-color: 0099FF;
    color: black;
    border: 1px solid #0099FF;
}